<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<bean id="UI" class="banking.userInterface">
		<constructor-arg ref="accountCreator" />
		<constructor-arg ref="transactionManager" />
	</bean>

	<bean id="accountCreator" class="banking.accountCreator">
		<constructor-arg ref="nameChecker" />
	</bean>

	<bean id="transactionManager" class="banking.transactionManager">
		<constructor-arg ref="transaction" />
		<constructor-arg ref="nameChecker" />
		<constructor-arg ref="pinChecker" />
		<constructor-arg ref="accountViewer" />
	</bean>

	<bean id="nameChecker" class="banking.nameChecker"></bean>
	<bean id="pinChecker" class="banking.pinChecker"></bean>
	<bean id="accountViewer" class="banking.accountViewer"></bean>

	<bean id="transaction" class="banking.transaction">
		<constructor-arg ref="nameChecker" />
		<constructor-arg ref="amountUpdater" />
	</bean>

	<bean id="amountUpdater" class="banking.amountUpdater"></bean>

</beans>
